.box {
  width: 100%;
  height: 200px;
  background: brown;
}

.header-dark {
  background: lightgray;
}

.slider-smaller {
  width: 50%;
  margin: 40px auto;
}

.logo {
  width: 70%;
}

.jumbotron-pink {
  background: pink;
}
